<div class="row">
  <div class="col-4">
    {{ count() }}
    <br />
    {{ fullName() }}

    <br />
    {{ nameRollNo() }}
    <br />

    <br />
    <button class="btn btn-primary" (click)="changeName(); changePrice()">
      Change Name
    </button>
  </div>
  <div class="col-3">
    <h4>{{ cart().name }}</h4>
    <br />

    <div class="text-end">
      @if(cart().isAvailable){
      <span class="text-success">In Stock</span>
      } @else {
      <span class="text-danger">Out of Stock</span>
      }
    </div>
    <p>PKR: {{ cart().price }}/-</p>
    <div class="row">
      <button class="btn btn-primary">Buy Now</button>
    </div>
    <br />
  </div>
  <div class="col-4">{{ names()[0] }}</div>
</div>
