<div class="row">
  <div class="col-2">
    <button class="btn btn-info" (click)="getUsers()">Get Users</button>
  </div>
  <div class="col-6">
    <h4>Users:</h4>
    <table class="table table-striped table-hover table-dark table-bordered">
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!isPending">
          <tr *ngFor="let user of userList; let track = index">
            <td>{{ track + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="isPending">
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="col-4">
    <ng-container *ngTemplateOutlet="myTemplate"> </ng-container>
  </div>
</div>

<ng-template #myTemplate>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto voluptatum
    deleniti, mollitia alias illo, amet explicabo obcaecati quis similique
    laudantium magni. Natus accusantium perspiciatis, fugiat nulla blanditiis
    voluptatum alias porro?
  </p>
</ng-template>
