<p>Structural Directives - which can change the dom structure</p>
<ul>
  <li>*ngIf</li>
  <li>*ngFor</li>
</ul>

<h3>*ngIf Examples</h3>

<button
  (click)="togglevisibility()"
  class="bg-primary p-2 rounded border-0 m-2 text-white"
>
  Toggle Visiblity
</button>

<div class="row">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quae in
    nulla aspernatur, beatae quam laudantium obcaecati ea accusantium eum
    deleniti, voluptatibus nemo officia enim maxime facere, excepturi ut
    repellat?
  </p>
</div>

<div *ngIf="isVisible" class="row">
  <div *ngFor="let name of names">
    <h2 class="text-center">
      {{ name }}
    </h2>
  </div>
</div>

<div class="row" *ngIf="num1 == num2">
  <div class="p-3 m-2 rounded bg-info">Div To Be Hidden</div>
</div>
<div class="row">
  <input type="number" [(ngModel)]="num1" class="col-3" />
  <input type="number" [(ngModel)]="num2" class="col-3" />
</div>

<div class="row">
  <input type="checkbox" [(ngModel)]="isActive" class="col-3" />

  <div class="col-3">
    <select name="" id="" [(ngModel)]="selectedCountry">
      <option value=""></option>
      <option value="USA">USA</option>
      <option value="Europe">Europe</option>
      <option value="Russia">Russia</option>
      <option value="Egypt">Egypt</option>
      <option value="Morroco">Morroco</option>
    </select>
  </div>
</div>

<div
  *ngIf="isActive && selectedCountry === 'USA'"
  class="row p-3 m-4 bg-success rounded"
>
  Page Section
</div>

<h3>*ngFor Examples</h3>

<p>*ngFor always require an array</p>

<div class="row">
  <h2>Itterating on Peoples Array</h2>
  <div *ngFor="let people of peoples" class="col-3 p-2">
    <p><b>Name:</b> {{ people.firstName }} {{ people.lastName }}</p>
    <p><b>Age:</b> {{ people.age }}</p>
    <p><b>Email:</b> {{ people.email }}</p>
    <p>
      <b>Availablity: </b>
      <span *ngIf="people.isAvailable">Avialable</span>
      <span *ngIf="!people.isAvailable">Not-Available</span>
    </p>
  </div>
</div>

<select name="" id="">
  <option *ngFor="let name of names" [value]="name">{{ name }}</option>
</select>

<p>
  Attribute Directive - can only change the property cannot add or remove
  element
</p>
